html{
    background-color: #0D1117;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
.kana-box{
    position: relative;
    text-align: center;
    color: #F0F6FC;
    border: 1px #3D444D solid; 
    border-radius: 5px;
    max-width: 15%;
    margin-top: 10%;
    left: calc(50% - (254.25px / 2));
    height: 300px;
    font-size: 200px;
}
/* 
   #0D1117 
   #010409
   #3D444D
   
*/